<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
            <% if(typeof error_no != 'undefined'){ %> 
                400 | Bad Request
                <% } else { %>
                404 | Page Not Found
            <% } %>
    </title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
</head>
<body>
    <div class="err-contain">
        <h1 id="err"> 
            <% if(typeof error_no != 'undefined'){ %> 
            400 | Bad Request
            <% } else { %>
            404 | Page Not Found
            <% } %>
        </h1>
        <br/>
        <h2>Hooman, You Lost?</h2>
        <p>I can smell this page works: <a href="http://atlantacrimedataapi-env.eba-9qxqwmqj.us-east-2.elasticbeanstalk.com/">click me</a></p>
    </div>
    <img src='/img/doggo.png' alt="Awkward Dog" id="doggo">
</body>
</html>