<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unofficial Atlanta Crime Data API</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
    <div class="contain">
    <h1>Hello!</h1>
    <h1>Welcome to the Unofficial Atlanta Crime Data API</h1>
    <br/>
    <p>The data has been taken from the <a href="https://www.atlantapd.org/i-want-to/crime-data-downloads">Atlanta Police Department's</a> website.</p>
    <p>Visit their website to see more intresting data.</p>
    <br/>
    <p class="code-p"><code class="code-block">Base url</code> :  http://atlantacrimedataapi-env.eba-9qxqwmqj.us-east-2.elasticbeanstalk.com/</p>
    <br/>
    <h1>General</h1>
    <p>To download <a href="http://atlantacrimedataapi-env.eba-9qxqwmqj.us-east-2.elasticbeanstalk.com/download/csv">csv</a> file.</p>
    <div class="detail-wrapper">
        <code>
            <b><code class="method">GET</code></b> /download/csv
            <br/>
            <b>Example: </b> http://atlantacrimedataapi-env.eba-9qxqwmqj.us-east-2.elasticbeanstalk.com/download/csv
        </code>
    </div>
    <br/> <br/>
    <h1>All</h1>
    <p>To request all raw json data.</p>
    <div class="detail-wrapper">
        <code>
            <b><code class="method">GET</code></b> /all/rawdata
            <br/>
            <b>Example:</b> http://atlantacrimedataapi-env.eba-9qxqwmqj.us-east-2.elasticbeanstalk.com/all/rawdata
        </code>
    </div>
    <div class="detail-wrapper">
        <details>
            <summary>Sample</summary>
            <br/>
    <textarea readonly rows="5" cols="100">
[{"_id":"abcd9999ac",
"offense_id":210480696,
"rpt_date":"2021-02-18T00:00:00.000Z",
"occur_date":"1922-02-17T00:00:00.000Z",
"occur_day":"Friday",
"occur_day_num":6,
"occur_time":"10:32",
"poss_date":"2021-02-17T00:00:00.000Z",
"poss_time":"10:32",
"beat":103,"zone":1,
"location":"1825 MACARTHUR BLVD NW\nATLANTA, GA 30318\nUNITED STATES",
"ibr_code":"23G","UC2_Literal":"LARCENY-FROM VEHICLE",
"neighborhood":"Bolton",
"npu":"D",
"lat":33.81402,
"long":-84.447583}, ...]
    </textarea>        
    </details>
    </div>
    <br/>
    <p>To request all neighborhood names.</p>
    <div class="detail-wrapper">
        <code>
            <b><code class="method">GET</code></b> /all/nbhd_names
            <br/>
            <b>Example: </b> http://atlantacrimedataapi-env.eba-9qxqwmqj.us-east-2.elasticbeanstalk.com/all/nbhd_names
        </code>
    </div>
    <div class="detail-wrapper">
        <details>
            <summary>Sample</summary>
            <br/>
    <textarea readonly rows="5" cols="100">
["Adair Park","Adams Park","Adamsville","Almond Park","Amal Heights","Ansley Park","Arden/Habersham","Ardmore","Argonne Forest","Arlington Estates","Ashley Courts","Ashview Heights","Atkins Park","Atlanta Industrial Park","Atlanta University Center","Atlantic Station","Audobon Forest","Audobon Forest West","Baker Hills","Bakers Ferry","Bankhead","Bankhead/Bolton", ...]
    </textarea>    
        </details>
    </div>
    <br/>

    <h1>Top</h1>
    <p>To request whole list of top incidents with neighborhood name.</p>
    <div class="detail-wrapper">
        <code>
            <b><code class="method">GET</code></b> /top/nbhds
            <br/>
            <b>Example: </b> http://atlantacrimedataapi-env.eba-9qxqwmqj.us-east-2.elasticbeanstalk.com/top/nbhds
        </code>
    </div>
    <div class="detail-wrapper">
        <details>
            <summary>Sample</summary>
            <br/>
    <textarea readonly rows="5" cols="100">
[{"_id":"abcd123abc","Downtown":1472},
 {"_id":"abcd1234ab","Midtown":1331},
 {"_id":"abcd12345a","Old Fourth Ward":474},
 {"_id":"abcd123567","Lindbergh/Morosgo":450},...]
    </textarea>    
        </details>
    </div>
    <br/>
    <p>To request specific amount of top incidents with neighborhood name.</p>
    <div class="detail-wrapper">
        <code>
            <b><code class="method">GET</code></b> /top/nbhds/-number-
            <br/>
            <b>Example: </b> http://atlantacrimedataapi-env.eba-9qxqwmqj.us-east-2.elasticbeanstalk.com/top/nbhds/2
        </code>
    </div>
    <div class="detail-wrapper">
        <details>
            <summary>Sample</summary>
            <br/>
    <textarea readonly rows="5" cols="100">
[{"_id":"abcd123abc","Downtown":1472},
 {"_id":"abcd1234ab","Midtown":1331}]
    </textarea>    
        </details>
    </div>
    <br/>
    <footer>
        <p>Have any suggestion(s) or would you like to contribute? <a href="https://github.com/Meet-forever">click me</a></p>
        <p id="author">Made by Meet Patel</p>
    </footer>
    <br/>
</div>
</body>
</html>